/*Configurations*/


/*Highlight Color*/

.yfb-highlight {
    color: #D83535 !important;
}

.yfb-highlight svg polygon {
    stroke: #D83535 !important;
}

.yfb-highlightBackground {
    background: #D83535 !important;
}

ol li:before {
    color: #D83535 !important;
}
a.yfb-activeSelection {
	    border-bottom: 3px solid #D83535;

} 
nav.navbar .navbar-nav li a > span::after{background: #D83535;
}
